<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <aop:aspectj-autoproxy />
    <bean id="personDao" class="aop.dao.PersonDaoSimple">
        <property name="defaultAge" value="18"></property>
    </bean>
    <bean id="personService" class="aop.service.PersonServiceImpl">
        <constructor-arg name="dao" ref="personDao"></constructor-arg>
    </bean>
    <bean id="logAspect" class="aop.logging.LoggingAspect" />

</beans>